body {
  margin: 0;
  font-family: sans-serif;
  background-size: 30px 30px;
  background-image:
    linear-gradient(to right, rgba(0, 0, 255, 0.15) 1px, transparent 1px),
    linear-gradient(to bottom, rgba(0, 0, 255, 0.15) 1px, transparent 1px);
}

.top-bar,
.bottom-bar {
  background: #f7f7f7;
  border-bottom: 2px solid #ccc;
  padding: 10px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.bottom-bar {
  border-top: 2px solid #ccc;
  border-bottom: none;
  justify-content: center;
  margin-top: 20px;
}

.wrapper {
  max-width: 1200px;
  margin: 20px auto;
}

.username {
  font-style: italic;
}

.box {
  background: #ffffffcc;
  border: 2px solid #000;
  padding: 10px 12px;
  box-shadow: 2px 2px 0 #000;
}

.box.hints {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 50px;
  text-align: center;
}

#hintText {
  margin: 0;
}


.logo {
  height: 320px;
  background: #ffffffcc;
  border: 3px solid #000;
  box-shadow: 4px 4px 0 #000;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.logo img {
  margin: 0;
} 

.difficulty {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  gap: 15px;
}

.pill {
  padding: 6px 16px;
  border-radius: 999px;
  border: 2px solid #000;
  background: #fff;
  font-size: 14px;
}

.pill a {
  text-decoration: none;
  color: black;
}

.easy { 
  background: #d9fdd3;
}
.medium { 
  background: #fff6bf; 
}
.hard { 
  background: #ffd1d1;
}
